<div>
    <ul class="list-group">
  <li class="list-group-item" ui-sref="default.detail"><span class="badge glyphicon glyphicon-remove"> </span>你想好好学习吗？ </li>
  <li class="list-group-item"><span class="badge glyphicon glyphicon-remove"> </span><span class="badge glyphicon glyphicon-share"> </span>你想好好学习吗？ </li>
  <li class="list-group-item"><span class="badge glyphicon glyphicon-remove"> </span>你想好好学习吗？ </li>
  <li class="list-group-item"><span class="badge glyphicon glyphicon-remove"> </span>你想好好学习吗？ </li>
  <li class="list-group-item"><span class="badge glyphicon glyphicon-remove"> </span>你想好好学习吗？ </li>
  <li class="list-group-item"><span class="badge glyphicon glyphicon-remove"> </span>你想好好学习吗？ </li>
</ul>
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
</div>