<div class="container">
  <h1>你热爱学习吗</h1>
    <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">1.Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">2.Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
      <label for="">3.why you are here?</label>
    <div class="checkbox">
        
  <label>
    <input type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Option two is disabled
  </label>
</div>
  </div>
  <div class="form-group">
      <label for="">4.How about learn React?</label>
   <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
<div class="radio disabled">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
    Option three is disabled
  </label>
</div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">4.Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>